$bs-gradient-background : linear-gradient(to right top,#d65db1, #e861a2, #f46993, #fc7486, #ff827b, #ff8f73, #ff9d6d, #ffac69, #ffbe66, #ffd166, #ffe469, #f9f871) ;
$bs-scroll-bar : #d65db1;
$bs-font-color : #ffffff;